{% extends 'base.html.twig' %}

{% block title %}Espace groupe{% endblock %}

{% block body %}
<h2 class="text-center">Vos groupes</h2>
<a href="{{path('groupes_add')}}" class="btn btn-primary">Créer un groupe</a>

{% if groupes|length > 0 %}

{% for groupe in groupes %}
<h2>Name : {{groupe.name}}</h2>
<h2>Date : {{groupe.date.date}}</h2>
<a href="{{path('groupes_display',{'id':groupe.id})}}" class="btn btn-danger">Accéder au groupe</a>

{% endfor %}

{% else %}

<h3>Vous n'avez pas encore créé de groupe</h3

{% endif %}

{% endblock %}
